/* Base layout styling */
body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.container-fluid {
    display: flex;
}

.sidebar {
    background-color: #f8f9fa;
    height: 100vh;
    padding-top: 10px;
}

.section {
    padding: 20px;
}

/* Dark and light theme */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.dark-theme {
    background-color: #2c2c2c;
    color: #f8f9fa;
}
